<div id="modal" data-backdrop="static" data-keyboard="false" >
<h1 mat-dialog-title>Atencion</h1>
<div id="page" mat-dialog-content style="font-size:15px;"   >
  Al dar clic en aceptar usted estara confirmando que es mayor de 18 años,
  de lo contrario si usted no es mayor de edad favor de pedir a un adulto que 
  le ayude a registrar una denuncia.
<div class="modal-footer" style="position:-ms-page">
    <button style="font-size:15px;" type="button" (click)="onNoClick()" class="btn btn-success">Soy mayor de edad</button>
    
    <a style="font-size:15px;"  type="button" href="https://www.google.com/?gws_rd=ssl"  class="btn btn-danger">Soy menor de edad</a>


  </div>
</div>
</div>

<footer >
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="col-md-12">
        <div class="section-heading">
            <h4></h4>
            <address>
              <strong>¿Problemas?</strong><br>
              <a >Si el sistema falla no dudes en reportarlo.</a><br>
              <a href="mailto:#">Soporte@<strong> ©ComunitySoft </strong> .com</a>
              </address>

        </div>
    </div>
    </div>
    <div class="col-md-6">
      <a > Copyright ©<strong> ©ComunitySoft </strong>  Todos los Derechos Reservados 2020 </a>  
      <br>
    </div>
    <div class="col col-lg-3">
      <div class="col-md-6 col-sm-12">
        <ul class="social-icons"  >
            <a href="#"><i class="glyphicon fa fa-facebook-square" style="padding: 3px;">&nbsp; Facebook </i></a>
            <a href="#"><i class="glyphicon fa fa-twitter-square" style="padding: 1px;" >&nbsp;Twitter</i></a>
            <a href="#"><i class="glyphicon fa fa-instagram" style="padding: 3px;">&nbsp;Instagram</i></a>
        </ul>
    </div>
    </div>
  </div>  
</footer>



