<h1 mat-dialog-title>Atencion</h1>
<div mat-dialog-content>
    Al momento de dar clic en el botón "ACEPTAR" usted estará de acuerdo para que el departamento 
    al cual se le asignará la denuncia pueda establecer contacto con usted en caso de requerir 
    más datos sobre el hecho o ubicación del lugar de
     lo acontecido, así mismo usted acepta que la información dada en esta denuncia es verídica.
<div class="modal-footer">
    <button type="button" class="btn btn-success">Enviar</button>
    <button type="button"(click)="onNoClick()" class="btn btn-danger" color="warn" data-dismiss="modal">Cancelar</button>
  </div>
</div>