<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
 
<body>
	<div class="page-wrapper chiller-theme toggled">
		<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
			<i class="fas fa-bars"></i>
		</a>
		<nav id="sidebar" class="sidebar-wrapper">
			<div class="sidebar-content">
				<div class="sidebar-brand">
					<a href="/admin">CCSoft</a>

				</div>
				<div class="sidebar-header">
					<div class="user-pic">
						<img class="img-responsive img-rounded"
							src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
							alt="User picture">
					</div>
					<div class="user-info">
						<span class="user-name">Jhon
							<strong>Smith</strong>
						</span>
						<span class="user-role">Administrator</span>

					</div>
				</div>
				<div class="sidebar-menu">
					<ul>
						<li class="header-menu">
							<span>General</span>
							<hr>

						</li>

						<li class="sidebar-dropdown">
							<a href="#">
								<i class="fa fa-university" aria-hidden="true"></i>

								<span>Mis dependencias</span>
							</a>

						</li>
						<li class="sidebar-dropdown">
							<a href="/altadependencias">
								<i class="fa fa-user-plus" aria-hidden="true"></i>
								<span>Alta dependencias</span>
							</a>

						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<span>Buzón de denuncias</span>
							</a>

						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="fa fa-check" aria-hidden="true"></i>
								<span>Denuncias aceptadas</span>
							</a>

						</li>
						<li class="sidebar-dropdown">
							<a href="#">
								<i class="fa fa-ban" aria-hidden="true"></i>
								<span>Denuncias rechazadas</span>
							</a>

						</li>
						<li class="sidebar-dropdown" title="Actualiza tus datos de contacto o contraseña">
							<a href="/miperfil">
								<i class="fa fa-user-circle" aria-hidden="true"></i>
								<span>Mi perfil</span>
							</a>
							
						</li>

						<li class="sidebar-dropdown" title="Crea una denuncia nueva">
							<a href="/denuncia">
								<i class="fa fa-envelope-open" aria-hidden="true"></i>
								<span>Crear denuncia</span>
							</a>

						</li>
						<!-- EXTRAS -->
						<li class="header-menu">
							<hr id="linea">
							<span>Extra</span>

						</li>
						<li>
							<a href="#">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
								<span>Soporte</span>
							</a>
						</li>
						
					</ul>
				</div>
				<!-- sidebar-menu  -->
			</div>
			<!-- sidebar-content  -->
			<div class="sidebar-footer">
				<a >Derechos reservados <strong> ©ComunitySoft </strong>  2020</a>
			</div>
		</nav>
		<!-- sidebar-wrapper  -->
		<main class="page-content">
			<div class="container-fluid">
				<h2>¡BIENVENIDO!</h2>
				<hr>
				<div class="row">
					<div class="form-group col-md-12">
						<p>Aqui podras administrar las dependencias que tienes registradas, tambien podras ver las
							denuncias que se han hecho.</p>
						<p> Si tienes problemas por favor reporta el error a nuestro soporte y con gusto le ayudaremos
						</p>
					</div>

				</div>
				<hr>
				<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
					integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
					crossorigin="anonymous">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

				<h2>Administrador de denuncias</h2>
				<table id="table_id" class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th scope="col">Folio</th>
							<th scope="col">Nombre completo</th>
							<th scope="col">Tipo de denuncia</th>
							<th scope="col">Atendido por</th>
							<th scope="col">Fecha</th>
							<th scope="col">PDF</th>
							<th scope="col"> Status</th>
			
						</tr>
					</thead>
			
					<tbody class="contenidobusqueda">
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Maltrato animal</td>
							<td>Milagro Canino</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"> 
								<div class="alert alert-primary" style="width: 80px;" role="alert" style="text-align: center;">
									Recibida
								  </div>
							</td>
			
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;">
								<div class="alert alert-primary" style="width: 80px;" role="alert" style="text-align: center;">
									Recibida
								  </div>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Daño vial</td>
							<td>H. ayuntamiento Navojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;">
								<button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;">
								<button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;">
								<button type="button" class="btn btn-success" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-danger" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-success" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
						<tr>
							<th scope="row">#12837</th>
							<td>Juan martin leiva</td>
							<td>Contaminación Ambiental animal</td>
							<td>Ecologia NAvojoa</td>
							<td>27/02/2020</td>
							<td>Inserte PDF aqui.</td>
							<td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
								data-placement="top" title="Tooltip on top">Recibida</button>
							</td>
						</tr>
			
					</tbody>
				</table>
		
				<h5>Denuncias nuevas</h5>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="card rounded-0 p-0 shadow-sm">

						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="card rounded-0 p-0 shadow-sm">

						</div>
					</div>
				</div>
			</div>

		</main>
		<!-- page-content" -->
	</div>
	<!-- page-wrapper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>