<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>

  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="/index">CCSoft</a>

        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <img class="img-responsive img-rounded"
              src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
              alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">Jhon
              <strong>Smith</strong>
            </span>
            <span class="user-role">Denunciante</span>

          </div>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
              <hr>
            </li>
            <!-- MENU DE LA BARRA LATERAL -->

            <li role="presentation" class="active" target="ventana_iframe1">
              <a href="#misdenuncias" aria-controls="home" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Mis denuncias</a>
            </li>

            <li role="presentation"  target="ventana_iframe2">
              <a href="#misdependencias" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-university" aria-hidden="true"></i>Mis dependencias</a>
            </li>

            <li role="presentation"  target="ventana_iframe3">
              <a href="#buzondenuncia" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-envelope" aria-hidden="true"></i>Buzón de denuncias</a>
            </li>

            <li role="presentation"  target="ventana_iframe4">
              <a href="#denunciaaceptada" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-check" aria-hidden="true"></i>Denuncias aceptadas</a>
            </li>

            <li role="presentation"  target="ventana_iframe5">
              <a href="#denunciarechazada" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-ban" aria-hidden="true"></i>Denuncias rechazadas</a>
            </li>


            <li role="presentation"  target="ventana_iframe6">
              <a href="#denunciar" aria-controls="home" role="tab" data-toggle="tab">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>Crear denuncia</a>
            </li>

            <li role="presentation"  title="Actualiza tus datos de contacto o contraseña"target="ventana_iframe7">
              <a href="#miperfil" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="fa fa-user-circle" aria-hidden="true"></i>Mi perfil</a>
            </li>


            <li role="presentation" title="¡Hasta luego!" target="ventana_iframe8">
              <a href="#altadependencia" aria-controls="messages" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>Agregar dependencia</a>
            </li>

            <!-- FIN DEL MENU DE LA BARRA LATERA -->

            <li class="header-menu">
              <hr id="linea">
              <span>Extra</span>
            </li>

            <li role="presentation" title="Si tienes algun problema no dudes en avisarnos" target="ventana_iframe9">
              <a href="#soporte" aria-controls="settings" role="tab" data-toggle="tab">
                <i class="fa fa-question-circle" aria-hidden="true"></i>Soporte</a>
            </li>

          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a>Derechos reservados ©ComunitySoft </a>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
      <div class="container-fluid">
        <h2>¡BIENVENIDO!</h2>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <p>¡Que gusto es volverte a ver por aca!</p>

          </div>

        </div>
		<hr>
		
        <!-- page-content" -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="misdenuncias">

            <iframe src="/index" marginwidth="0" marginheight="0" name="ventana_iframe1" scrolling="yes" border="0"
              frameborder="0" width="1200px" height="1000px">
            </iframe>

          </div>

          <div role="tabpanel" class="tab-pane " id="misdependencias">

            <iframe src="/misdependencias" marginwidth="0" marginheight="0" name="ventana_iframe2" scrolling="yes"
              border="0" frameborder="0" width="1200px" height="1000px">
            </iframe>

          </div>

          <div role="tabpanel" class="tab-pane" id="buzondenuncia">

            <label for="">buzon denuncia</label>
            <!-- <iframe  src="" 
      marginwidth="0" marginheight="0" name="ventana_iframe3" scrolling="no" border="0" 
      frameborder="0" width="1400px" height="1000px">
	  </iframe> -->

          </div>

          <div role="tabpanel" class="tab-pane" id="denunciaaceptada">

            <label for="">denuncia aceptada</label>
            <!-- <iframe  src="" 
      marginwidth="0" marginheight="0" name="ventana_iframe4" scrolling="no" border="0" 
      frameborder="0" width="1400px" height="1000px">
      </iframe> -->

          </div>

          <div role="tabpanel" class="tab-pane" id="denunciarechazada">
            <label for="">denuncia rechazada</label>
            <!-- <iframe  src="" 
      marginwidth="0" marginheight="0" name="ventana_iframe5" scrolling="no" border="0" 
      frameborder="0" width="1400px" height="1000px">
      </iframe>
       -->
          </div>

          <div role="tabpanel" class="tab-pane" id="denunciar">

            <iframe src="/denuncia" marginwidth="0" marginheight="0" name="ventana_iframe6" scrolling="no" border="0"
              frameborder="0" width="1400px" height="1000px">
            </iframe>

          </div>

          <div role="tabpanel" class="tab-pane" id="miperfil">

            <iframe src="/miperfil" marginwidth="0" marginheight="0" name="ventana_iframe7" scrolling="no" border="0"
              frameborder="0" width="1400px" height="1000px">
            </iframe>

          </div>

          <div role="tabpanel" class="tab-pane" id="altadependencia">

            <iframe src="/altadependencia" marginwidth="0" marginheight="0" name="ventana_iframe8" scrolling="no"
              border="0" frameborder="0" width="1400px" height="1000px">
            </iframe>

          </div>

          <div role="tabpanel" class="tab-pane" id="soporte">

            <iframe src="/soporte" marginwidth="0" marginheight="0" name="ventana_iframe9" scrolling="no" border="0"
              frameborder="0" width="1400px" height="1000px">
            </iframe>

          </div>

        </div>

        <!-- page-content" -->

        <h5>Denuncias nuevas</h5>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card rounded-0 p-0 shadow-sm">

            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card rounded-0 p-0 shadow-sm">

            </div>
          </div>
        </div>
      </div>

    </main>

  </div>
  <!-- page-wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

</body>

<!-- <footer id="footer">
	<div class="row justify-content-md-center">
		<div class="col col-lg-3">
			<!-- <div class="col-md-12">
				<div class="section-heading">
					<a href="mailto:#">Soporte@<strong> ©ComunitySoft </strong> .com</a>

				</div>
			</div> 
		</div>
		<div class="col-md-6" style="padding-bottom: 120px;">
			<a> Copyright ©<strong> ©ComunitySoft </strong> Todos los Derechos Reservados 2020 </a>
		</div>
		<div class="col col-lg-3">
			<a href=""> ¿Quienes somos?</a> 
		 </div>
	</div>
</footer> -->
