
  <!-- BODY DE LA PLANTILLA -->
  <div class="container">
	<div class="row">
		<form action="" method="post" class="smart-green">
    <h1>Soporte del sistema
        <span>Aqui podras pedir apoyo en caso de tener algun problema con el sistem o si detectaste un error avisanos.</span>
    </h1>
    <label>
        <span>Nombre :</span>
        <input id="name" type="text" name="name" placeholder="Nombre completo" />
       
    </label>
   
    <label>
        <span>Correo electronico:</span>
        <input id="email" type="email" name="email" placeholder="Ejemplo@ejemplo.com" />
         
    </label>
    
    <label>
        <span>Celuar :</span>
        <input id="Phone" type="email" name="Phone" placeholder="6424578564" />
    </label>
    
    <label>
        <span>Asunto :</span><input id="Subject" type="text" name="Subject" placeholder="Ejemplo: error al agregar dependencia" />
    </label>  
    
    <label>
        <span>Mensaje :</span>
        <textarea id="message" name="message" placeholder="Explique el error o el proceso en el cual tiene alguna problema, sea detallado"></textarea>
    </label>
       
     <label>
        <span> </span>
        <input type="button" class="button"  value="Enviar" />
    </label>    
</form>
	</div>
</div>
    
  <!-- CIERRA EL BODY DE LA PLANTILLA -->
          
  
  