/* TITULO -------------------------------------------------------- */
#formulario{
    font-family: sans-serif;
    background: #146d32;
    color: white;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom: 5px solid #205ab4;
    margin-bottom:5px; 
  }
  /* --------------------------------------------------------------- */
  /* --------------------------------------------------------------- */
  /* FORMULARIO: fondo blanco y casillas --------------------------- */
  form{
    background-color: rgb(255, 255, 255);
    margin:10px;
    margin:0 auto;
    border-radius:19px;
    width: 40%;
    /* SECUENCIA: para centrar formulario */
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
    /* TAMAÑO LETRA: nombre, apellido, e-mail, etc ----- */
      label{
        margin-left: 8px;
        font-size: 12px;
        padding: 5px;
        display:block;
        width: 100%;
        font-family: sans-serif;
      }
    /* -------------------------------------------------- */
    /* EDICION CADA INPUT: diseño ----------------------- */
      input{
        margin-bottom:10px; 
        width: 95%;
        padding: 2%;
        margin-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-style: italic; 
      }
      /* Cuando da click dentro de un input --------------- */
        input:focus{
          background-color: #F2F2F2;
        }
      /* -------------------------------------------------- */
  /* --------------------------------------------------------------- */
  /* C U E R P O  -------------------------------------------------- */ 
  body{
    /* background-image: linear-gradient(-90deg,rgb(71, 199, 125), rgb(61, 255, 142)); */

    background-color: rgb(235, 232, 232);
}
  /* --------------------------------------------------------------- */
  /* FUNCION DEL BOTON REGISTRARSE --------- */
  #button {
          width: 94%;
          font-family: sans-serif;
          font-size:15px;
          font-weight: bolder;
          background-color: #205ab4;
          color: #fff;
          cursor: pointer;
          margin-bottom:15px;
          margin-left:10px;
          border: none;
          padding: 3%;
          border-radius: 20px 10px 20px 10px;
      /* SOMBRA BOTON: darle sommbre al boton "resgistrarse"*/
          -webkit-box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
          -moz-box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);
           box-shadow: 4px 9px 8px -4px rgba(0,0,0,0.75);      
  }
  #button:hover{
    background-color: #7FACDE;
  }
  /* ---------------------------------------- 

  .html2 {
	min-height: 110%;
	position: fixed;
  }
  body {
	margin: 0;
	margin-bottom: 12px;
  }
  footer {
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	width: 110%;
	height: 100px;
	color: white;
	text-align: center;
	font-size: 14px;
	background-image: url("https://i.stack.imgur.com/AZ2Xw.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
    height: 100px;
  } 
*/

body {
	margin: 0;
	margin-bottom: 0px;
  }
#footer {
  color: white;

  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  font-size: 14px;
  background-position: center center;
	background-repeat: no-repeat;
	background-color: rgb(0, 0, 0);
  background-image: url("https://i.stack.imgur.com/AZ2Xw.png");


}

/* SWITCH */

/*****************************************/

.onoffswitch2 {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch2-checkbox {
  display: none;
}

.onoffswitch2-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 5px;
}

.onoffswitch2-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch2-inner:before, .onoffswitch2-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch2-inner:before {
  content: "Mujer";
  font-size: 15px;
  padding-left: 10px;
  background-color: #f8f8f8; color: rgb(0, 0, 0);
}

.onoffswitch2-inner:after {
  content: "Hombre";
  padding-right: 10px;
  background-color: #f8f8f8; color: rgb(0, 0, 0);
  text-align: right;
  font-size: 15px !important;
}

.onoffswitch2-switch {
  display: block; width: 18px; margin: 0px;
  background: #FFFFFF;
  border: 2px solid #999999; border-radius: 5px;
  position: absolute; top: 0; bottom: 0; right: 68px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
  background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
  margin-left: 0;
}

.onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
  right: 0px; 
}

.cmn-toggle 
{
position: absolute;
margin-left: -9999px;
visibility: hidden;
}

.cmn-toggle + label 
{
display: block;
position: relative;
cursor: pointer;
outline: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input.cmn-toggle-round-flat + label 
{
padding: 2px;
width: 75px;
height: 30px;
background-color: #dddddd;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
-ms-border-radius: 60px;
-o-border-radius: 60px;
border-radius: 60px;
-webkit-transition: background 0.4s;
-moz-transition: background 0.4s;
-o-transition: background 0.4s;
transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after 
{
display: block;
position: absolute;
content: "";
}

input.cmn-toggle-round-flat + label:before 
{
top: 2px;
left: 2px;
bottom: 2px;
right: 2px;
background-color: #fff;
-webkit-border-radius: 60px;
-moz-border-radius: 60px;
-ms-border-radius: 60px;
-o-border-radius: 60px;
border-radius: 60px;
-webkit-transition: background 0.4s;
-moz-transition: background 0.4s;
-o-transition: background 0.4s;
transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after 
{
top: 4px;
left: 4px;
bottom: 4px;
width: 22px;
background-color: #dddddd;
-webkit-border-radius: 52px;
-moz-border-radius: 52px;
-ms-border-radius: 52px;
-o-border-radius: 52px;
border-radius: 52px;
-webkit-transition: margin 0.4s, background 0.4s;
-moz-transition: margin 0.4s, background 0.4s;
-o-transition: margin 0.4s, background 0.4s;
transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label 
{
background-color: #27A1CA;
}

input.cmn-toggle-round-flat:checked + label:after 
{
margin-left: 45px;
background-color: #27A1CA;
}

