


<!------ Include the above in your HEAD tag ---------->

<div class="login-block"  >
    <div class="container"  >
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">CCSoft</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Usuario</label>
    <input type="text" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Contraseña</label>
    <input type="password" class="form-control" placeholder="">
  </div>
  
  
    <div class="form-check" >
    <button type="submit" style="width: 330px; margin: 0 auto;" class="btn btn-login float-right">Iniciar Sesión</button>
  <a style="font-size: 140%;" style="padding-left: 30%;"  href="/restaurarContraseña">He olvidado la contraseña</a>
  </div>

</form>

<div class="copy-text"> Crea una cuenta nueva <a  href="\registro"> Registrarme</a> si quieres hacer una denuncia 
anonima da clic aqui <a href="\denunciaAnonima">DENUNCIAR ANONIMAMENTE</a>  </div>
   
</div>
    
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          
      <img class="d-block img-fluid" src="https://image.freepik.com/free-photo/business-woman-working-on-laptop_1388-91.jpg" width="5472" height="3648" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>CCSoft</h2>
            <p>Es un sistema dedicado para la ciudadania en general la cual tendra la facilidad de crear denuncias anonimas o tambien con la 
              opción de poder registrarte y poder asi seguir el estatus de tu denuncia, también podras hacer denuncias anonimas ya sea por esta web o 
              desde nuestra app.
            </p>
        </div>	
        
  </div>
    </div>
    
	</div>
</div>
</div>
<footer >
      <div class="row justify-content-md-center">
        <div class="col col-lg-3">
          <div class="col-md-12">
            <div class="section-heading">
                <h4></h4>
                <address>
                  <strong>¿Problemas?</strong><br>
                  <a >Si el sistema falla no dudes en reportarlo.</a><br>
                  <a href="mailto:#">Soporte@<strong> ©ComunitySoft </strong> .com</a>
                  </address>

            </div>
        </div>
        </div>
        <div class="col-md-6">
          <a > Copyright ©<strong> ©ComunitySoft </strong>  Todos los Derechos Reservados 2020 </a>  
          <br>
          <a href=" /PoliticasDePrivacidad">Politicas De Privacidad</a>
        </div>
        <div class="col col-lg-3">
          <div class="col-md-6 col-sm-12">
            <ul class="social-icons"  >
                <a href="#"><i class="glyphicon fa fa-facebook-square" style="padding: 3px;">&nbsp; Facebook </i></a>
                <a href="#"><i class="glyphicon fa fa-twitter-square" style="padding: 1px;" >&nbsp;Twitter</i></a>
                <a href="#"><i class="glyphicon fa fa-instagram" style="padding: 3px;">&nbsp;Instagram</i></a>
            </ul>
        </div>
        </div>
      </div>  
</footer>



