<h1 mat-dialog-title>Atencion</h1>
<hr>
<div mat-dialog-content>
   Le recordamos que usted NO podra darle seguimiento a esta denuncia debido a que esta hecha de forma anonima, si usted quiere
   darle seguimiento tendra que <a href="registro"> crear una cuenta</a> para poder ver el estatus de las denuncias que haga.
<div class="modal-footer">
    <button type="button" class="btn btn-success">Enviar</button>
    <button type="button"(click)="onNoClick()" class="btn btn-danger" color="warn" data-dismiss="modal">Cancelar</button>
  </div>
</div>